{% extends "base.html.twig" %}
{% block body %}
<nav>
    <a href="/Brick_Store">All</a>
    {% for cat in categories %}
    | <a href="/{{cat.id}}">{{cat.name}}</a>
    {% endfor %}
</nav>
<section class="briques_section">
    {% for brique in briques %}
        <div class="brique_card">
            <img src="/assets/{{brique.image}}" alt="">
            <div class="brique_info">
                <h2>{{brique.name}}</h2>
                <p>{{brique.id}}</p>
                <p>{{brique.price}} €</p>
            </div>
            <button class="brique_button">Choisir</button>
        </div>
    {% endfor %}
</section>
{% endblock %}